@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body {
  background-image: url(../img/paper.jpg);
}

h1 {
  font-family: 'Lato', sans-serif;
  color: RoyalBlue;
}

p {
  font-family: 'M PLUS Rounded 1c',sans-serif;
  color: DarkCyan;
}

code {
  color: DarkSlateBlue;
}

a {
  color: ForestGreen;
}

a:visited {
  color: DarkBlue;
}

h3 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: Chocolate;
}

ul, ol {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: DarkCyan;
}

h4 {
  font-family: Consolas, 'Courier New', monospace;
  color: CornflowerBlue;
}

footer {
  text-align: center;
}

.back {
  text-align: right;
}

.large {
  font-size: large;
}

.emmet {
  color: red;
}

.underline {
  text-decoration:underline;
}

.center {
  text-align: center;
}

.fixed-width {
  font-family: 'Inconsolata', monospace;
  font-size: 1.2em;
}

.headline {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: RoyalBlue;
}

.name {
  font-family: 'Lato', sans-serif;
  color: #404040;
  text-align: center;
}

.horizontal {
  display: -webkit-flex;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
