<!doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>コピー＆ペースト用テンプレート</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <header><p class="large">HTML5 オーソドックス</p></header>
  <pre><code>&lt;!doctype html&gt;
&lt;html lang="ja"&gt;
  &lt;head&gt;
    &lt;meta charset="utf-8" /&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
    &lt;title&gt;タイトル&lt;/title&gt;
    &lt;link rel="stylesheet" href="./css/style.css"&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;heder&gt;&lt;h1&gt;見出し&lt;/h1&gt;&lt;/heder&gt;
      &lt;article&gt;
        &lt;section&gt;
          &lt;h2&gt;見出し&lt;/h2&gt;
          &lt;p&gt;文章&lt;/p&gt;
        &lt;/section&gt;
        &lt;section&gt;
          &lt;h2&gt;見出し&lt;/h2&gt;
          &lt;p&gt;文章&lt;/p&gt;
        &lt;/section&gt;
      &lt;/article&gt;
      &lt;sdide&gt;
          &lt;h2&gt;見出し&lt;/h2&gt;
          &lt;p&gt;余談&lt;/p&gt;
      &lt;/aside&gt;
      &lt;footer&gt;
      &lt;address&gt;&lt;a href="mailto:your-name@example.com"&gt;Name&lt;/a&gt;&lt;/address&gt;
      &lt;p&gt;&lt;small&gt;Copyright&copy; 2020　Name, All Rights Reserved.&lt;/small&gt;&lt;/p&gt;
    &lt;/footer&gt;
  &lt;/body&gt;
&lt;/html&gt;</code></pre>
  <p class="back"><a href="../index.html#copyAndPasteTemplate">戻る</a></p><br>
</body>

</html>
